# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

pros/bin/output.bin
pros/bin/output.elf
pros/compile_commands.json
pros/bin/output.bin
pros/bin/output.elf
pros/compile_commands.json
pros/bin/*
pros/compile_commands.json
pros/include/api.h
pros/include/okapi/*
pros/include/pros/*
pros/project.pros
