Drive
	Tank Drive x
	Motion Profiling Capabilities x
	(Nice to Have) Allign with Flag - Priority 1
Shooter
	Manual Drive x
	(Nice to Have) Detect when Armed (torque based?) - Priority 2
Intake
	In/Out x
Turner
	Manual Drive x
	Auto Flip 180 x
Claw
	Manual Open/Close x
	(Nice to Have) Auto Open/Close - Priority 3
		Close is torque based
		Open is move to position relative